{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} ProyecSOLIF - Proyecto {% endblock %}

{% block content %}

    <div class="container-fluid">
        <h1>Datos del Proyecto:</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <p class="text-primary">{{ form.nombre_proyecto.label}}:</p>
                    </div>
                    <div class="col-lg-2">
                        <p>{{ form.nombre_proyecto}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Consultar</button>
                    </div>
                </div>
            </div>
            <div class="container">
                {% if form.descripcion.data != None %}
                    <p>{{ form.descripcion.label}}:{{ form.descripcion}} </p>
                    <table class="table table-striped">
                    <thead>
                      <tr>
                            <th>Nombre </th>
                            <th>Tipo</th>
                            <th> Ir a</th>
                      </tr>
                    </thead>
                    <tbody>
                       {% for item in form.lista_modulos %}
                          <tr>
                                <td>{{ item.nombre }}</td>
                                <td>{{ item.tipo_componente}}</td>
                                <td><a href="{{ url_for('componente', nombre=item.nombre) }}"> Ver componente </a></td>
                          </tr>
                       {% endfor %}
                    </tbody>
                  </table>
                {% endif %}
            </div>
        </form>
    </div>

{% endblock %}